<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{{ url_for('main.static', filename='js/main.bundle.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/bundle.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="header" id="header">{% block header %}{% endblock %}</div>
    <div class="content" id="content">{% block content %}{% endblock %}</div>
    <div class="footer" id="footer">
      {% block footer %}
      Project page: <a href="https://github.com/GangCaoLab/DLO-HiC-Tools">DLO-HiC-Tools</a>
      {% endblock %}
    </div>
</body>
</html>