{% extends 'base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %} DHT Home {% endblock %}

{% block header %}
{% include 'navbar.html' %}
<hr>

{% endblock %}
{% block content %}

<div class="panel box">
<div id="root" class="container">
    <tabs>
      <tab name="Setting" :selected="true">
        {% include 'setting.html' %}
      </tab>
      <tab name="Run">
        {% include 'run.html' %}
      </tab>
      <tab name="Console">
        {% include 'console.html' %}
      </tab>
    </tabs>
</div>
</div>


<script src="{{ url_for('main.static', filename='js/index.bundle.js') }}"></script>
{% endblock %}