
<div class="settings sub-panel">

    <div class="setting form">
        <h2 class="title is-3">Global</h2>

        <div class="field">
            <label class="label">Number of CPU</label>

            <div class="control">
                <input class="input" type="number" name="ncpu" min="1" value="8">
            </div>
            <p class="help">The number of CPUs used for run the pipeline.</p>
        </div>
        
        <div class="field">
            <label class="label">Working dir</label>

            <div class="control">
                <input class="input" type="text" name="working-dir" placeholder="Working directory">
            </div>
            <p class="help">Path to the working directory.</p>
        </div>

        <hr>
        <h2 class="title is-3">Data</h2>

        <div class="field">
            <label class="label">Input dir</label>

            <div class="control">
                <input class="input" type="text" name="input-dir" placeholder="Input directory">
            </div>
            <p class="help">Path to the input directory which contain all input fastq files.</p>
        </div>

        <div class="field">
            <label class="label">Fasta</label>

            <div class="control">
                <input class="input" type="text" name="fasta" placeholder="Path to fasta">
            </div>
            <p class="help">Path to the reference genome fasta file.</p>

        </div>

        <div class="field">
            <label class="label">BWA index prefix</label>

            <div class="control">
                <input class="input" type="text" name="bwa-index-prefix" placeholder="BWA index">
            </div>
            <p class="help">Prefix to the BWA aligner's index.</p>

        </div>

        <div class="field">
            <label class="label">Chromosome file</label>

            <div class="control">
                <input class="input" type="text" name="restriction-name" placeholder="chromosome length file">
            </div>
            <p class="help">Path to the file contain all chromosomes's name and size, name and size delimited with tab.</p>

        </div>

        <div class="columns">

            <div class="column">
                <div class="field">
                    <label class="label">Restriction site</label>

                    <div class="control">
                        <input class="input" type="text" name="restriction-site" value="T^TAA">
                    </div>
                    <p class="help">Restriction enzyme recognize site, use '^' symbol specifie the cutting site, like 'T^TAA'. </p>

                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Restriction name</label>

                    <div class="control">
                        <input class="input" type="text" name="restriction-name" value="MseI">
                    </div>
                    <p class="help">The name of restriction enzyme.</p>

                </div>
            </div>

        </div>


        <hr>

        <h2 class="title is-4">Extract PET</h2>

        <div class="field">
            <input type="checkbox" checked> Has adapter </label>
        </div>

        <div class="box adapter">
            <h4 class="title is-5">Adapter</h3>

            <div class="field">
                <label class="label">Sequence</label>

                <div class="control">
                    <label class="checkbox" name="adapter-auto"> <input type="checkbox" checked> Inference </label>
                    <input class="input" type="text" name="adapter-seq" placeholder="Adapter sequence" disabled>
                </div>
                <p class="help">The sequence of the adapter. Or you can let program inference it automatically.</p>

            </div>

            <div class="field">

                <div class="box">
                    <label class="label">Inference settings:</label>
                    <div class="columns">
                    <div class="column">
                        <label class="label">N fastq</label>
                        <div class="control">
                            <input class="input" type="number" name="n-fq-for-infer" value="1000">
                        </div>
                        <p class="help">Number of fastq records for inference.</p>
                    </div>
                    <div class="column">
                        <label class="label">Start pos</label>
                        <div class="control">
                            <input class="input" type="number" name="search-start-pos" value="75" min="0" max="149">
                        </div>
                        <p class="help">Start position in adapter search.</p>
                    </div>
                    <div class="column">
                        <label class="label">Probability Threshold</label>
                        <div class="control">
                            <input class="input" type="number" name="prob-thresh" value="0.75" max="1" min="0" step="0.1">
                        </div>
                        <p class="help">Probability threshold of base occurrence.</p>
                    </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Adapter mismatch ratio</label>
                <div class="control">
                    <input class="input" type="number" name="mismatch-adapter" min="0" max="1" value="0.3" step="0.1">
                </div>
                <p class="help">Mismatch ratio threshold in adapter trimming.</p>
            </div>

        </div>

        <div class="field">
            <div class="columns">
                <div class="column">
                <div class="field">
                    <label class="label">Linker-A</label>

                    <div class="control">
                        <input class="input" type="text" name="linker-a" placeholder="Linker-A sequence">
                    </div>
                    <p class="help">The sequence of Linker-A.</p>
                </div>
                </div>

                <div class="column">
                <div class="field">
                    <label class="label">Linker-B</label>

                    <div class="control">
                        <input class="input" type="text" name="linker-b" placeholder="Linker-B sequence(optional)">
                    </div>
                    <p class="help">The sequence of Linker-B.</p>
                </div>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Linker mismatch ratio</label>
            <div class="control">
                <input class="input" type="number" name="mismatch" min="0" max="1" value="0.3" step="0.1">
            </div>
            <p class="help">Mismatch ratio threshold in linkers alignment.</p>
        </div>

        <div class="field">
            <div class="columns">
                <div class="column is-one-quarter">
                    <label class="label">PET length range</label>
                    <div class="columns is-gapless control">
                        <div class="column">
                            <input class="input" type="number" name="pet_len_range_lo" min="0" value="10">
                        </div>
                        <div class="column">
                            <input class="input" type="number" name="pet_len_range_hi" min="0" value="22">
                        </div>
                    </div>
                    <p class="help">Expect PET length range.</p>
                </div>
                <div class="column">
                    <label class="label">PET cut length</label>
                    <div class="control">
                        <input class="input" type="number" name="pet_cut_len" min="0" value="20">
                    </div>
                    <p class="help">PET cut length, when PET length exceed the expected range, will cut to this length.</p>
                </div>
            </div>
        </div>

        <br>

        <h2 class="title is-4">Alignment</h2>

        <div class="field">
            <label class="label">MAPQ threshold</label>
            <div class="control">
                <input class="input" type="number" name="mapq" min="0" value="20">
            </div>
            <p class="help">MAPQ threshold for determinate the unique map read.</p>
        </div>

        <div class="field">
            <label class="label">Max iteration</label>
            <div class="control">
                <input class="input" type="number" name="iteration" min="1" value="10">
            </div>
            <p class="help">The max iteration number in iterative alignment.</p>
        </div>

        <br>

        <h2 class="title is-4">Contact matrix</h2>

        <div class="field">
            <label class="label">Result formats</label>
            <div class="control">
                <label class="checkbox" name=".cool"> <input type="checkbox" checked> .cool </label>
                <label class="checkbox" name=".hic">  <input type="checkbox" checked> .hic </label>
            </div>
            <p class="help">Output formats of contact matrix.</p>
        </div>

        <div class="field">
            <label class="label">Resolutions</label>
            <div class="control">
                {% set resolutions = "2500000, 1000000, 500000, 250000, 100000, 50000, 25000, 10000, 5000" %}
                <input class="input" type="text" name="resolution" value="{{ resolutions }}">
            </div>
            <p class="help">Resolutions of output contact matrix.</p>
        </div>
        
        <hr>

        <h2 class="title is-3">Other</h2>

        <div class="field">
            <label class="label">Intermediate files</label>

            {% set inter_files = ['pet.fq', 'trim_flag', 'pet.sam', 'uniq.bedpe', 'nr.bedpe', 'nr.bedpe.sel', 'nr.bedpe.re'] %}
            <div class="control">
            {% for f in inter_files %}
                <label class="checkbox" name="{{ f }}">
                <input type="checkbox" checked> {{ f }} </label>
            {% endfor %}
            </div>
            <p class="help">The intermediate files which you want to keep on disk.</p>

        </div>


    </div>

</div>