$content-width: 780px;
$borwn: #947e7e;
$shallow-grey: #dddddd;

#content {
  max-width: $content-width;
  margin: auto;
  padding: 10px;
}

#header {
  nav {
    padding-bottom: 0;
  }
  hr {
    margin-top: 0;
  }
}

.login-form {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 10px;

  h1 {
    text-align: center;
    font-size: 25pt;
    font-weight: 500;
    padding: 10pt;
    color: $borwn;
  }

}

.navbar {
  max-width: $content-width;
  margin: auto;
  padding: 10px;

  p#logo {
    font: {
      size: 1.5rem;
      weight: 600;
    }
    color: $borwn;
  }
}

div.panel {
  height: 800px;
}

.tabs-details {
  overflow-y: auto;
  overflow-x: hidden;
  height: 700px;
}

.sub-panel {
  padding-right: 10px;

  .box {
    margin-left: 1px;
  }
}


#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $borwn;
  color: white;
  text-align: center;
}

@import "../..//node_modules/bulma/sass/utilities/_all.sass";
@import "../..//node_modules/bulma/sass/base/_all.sass";
@import "../..//node_modules/bulma/sass/elements/button.sass";
@import "../..//node_modules/bulma/sass/elements/container.sass";
@import "../..//node_modules/bulma/sass/elements/title.sass";
@import "../..//node_modules/bulma/sass/elements/box.sass";
@import "../..//node_modules/bulma/sass/form/_all.sass";
@import "../..//node_modules/bulma/sass/components/navbar.sass";
@import "../..//node_modules/bulma/sass/components/tabs.sass";
@import "../..//node_modules/bulma/sass/layout/hero.sass";
@import "../..//node_modules/bulma/sass/layout/section.sass";
@import "../..//node_modules/bulma/sass/grid/columns.sass";
