p, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
}

div.header, div.content {
    width: 800px;
    margin:0 auto;
}

.content {
    width: 780px;
    padding: 10px;
    margin: 0;
}

.header div{
    width: 700px;
    background-color: #F1F1F1;
    text-align: center;
    padding: 50px;
    margin:0;
}

.footer div{
    width: 760px;
    height: 40px;
    background-color: #F1F1F1;
    text-align: right;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 55px;
    margin-bottom: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height: 40px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

div.column {
    float: left;
}

div.comp_table.left {
    width: 70%;
}

div.piechart.right {
    width: 30%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.piechart svg {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.adapter_svg svg {
    max-width: 800px;
    height: 360px;
}

.global_contact_map svg {
    max-width: 800px;
    height: 800px;
}

.chroms_contact_map svg {
    max-width: 680px;
    height: 680px
}

.slider {
  width: 800px;
  height: 700px;
  display: flex;
  overflow-x: auto;
  border: 1px solid #dddddd;
}

.slide {
  width: 680px;
  max-height: 680px;
  flex-shrink: 0;
  height: 100%;
  border: 1px solid #dddddd;
}

.slider, .slider .slide
{
    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}


div.jumping {
    text-align: center;
    margin-top: 1rem;
}

.jumping > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: #aaaaaa;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0 0;
  position: relative;
  font-size: 14;
  font-family: sans-serif;
  color: white;
}

.jumping > a:active {
  top: 1px;
}

.jumping > a:focus {
  background: #000;
}


